.nav {
	padding: 2rem 0;

	.desktop-nav {
		ul {
			li {
				display: inline-block;
				position: relative;

				a {
					display: block;
					font-size: 1.6rem;
					padding: 1rem;
					color: $text-black;
					text-decoration: none;
				}

				&:hover {
					& > a {
						background-color: $color-theme;
						color: $color-white;
					}
					& > ul {
						transform: translateY(0);
						opacity: 1;
						visibility: visible;
					}
				}

				& ul {
					position: absolute;
					top: 100%;
					left: 0;
					z-index: 2;
					width: 25rem;
					text-align: left;
					background-color: $color-white;
					box-shadow: 0px 0px 10px 1px rgba(1, 1, 1, 0.22);
					transform: translateY(4px);
					opacity: 0;
					visibility: hidden;
					transition: .3s;
					padding: 1rem 0;

					li {
						display: block;

						a {
							padding: .5rem 2rem;
						}
						& > a {
							&:hover {
								color: $color-theme;
								background-color: $color-white;
							}
						}
					}
				}

			}
		}

		& li a.active {
			background-color: $color-theme;
			color: $color-white;
		}
	}

	.mobile-menu {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		background-color: rgba($color-white, .98);
		display: none;

		.close-mobile-menu {
			position: absolute;
			top: 1rem;
			right: 2rem;
		}

		ul{
			margin-top: 6rem;

			li{
				position: relative;

				a{
					display: block;
					padding: .5rem 2rem;
					font-size: 1.6rem;
					color: $color-black;

					&:hover {
						color: $color-theme;
					}
				}

				i {
					position: absolute;
					top: 1rem;
					right: 2rem;
					font-size: 1.6rem;
					cursor: pointer;
					padding: 5px;
				}

				ul {
					margin: 0;
					background-color: lighten($color-black, 95);
					padding: 1rem 0;
					padding-left: 2rem;
					display: none;

					li {
						a {

						}
					}
				}
			}
		}
	}
}

